<!DOCTYPE html>
{% extends 'index.html' %}
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1 class="d-flex justify-content-center mt-4">delete "{{post.title}}"? </h1>
        <div class="form-group d-flex justify-content-center">
            <form method="POST"> 
                {% csrf_token %}
                <p class="d-flex justify-content-center">ARE YOU SURE?</p>
                
                
                <input type="submit" class="btn btn-danger" value= "Delete post">

            </form>
        </div>
    {% else %}
    <div>
        <h1>You can't delete this post, login first</h1>
    </div>
    {% endif %}
</body>
{% endblock %}
</html>