
<!doctype html>
{% extends 'index.html' %}
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{{post.title}}</title>
  </head>
    <body>
    
      {% block content %}
        <div class="container">
          <div>
            {% if user.is_authenticated %}
              {% if post.author.id == user.id %}
                  <br>
                  <a href="{% url 'update' post.pk %}" class="btn btn-primary btn-sm"> Update</a>
                  <a href="{% url 'delete' post.pk %}" class="btn btn-primary btn-sm">Delete</a><br>
                
              {% endif %}

            {% endif %}
              <h2>{{post.title}} - {{post.author}}</h2> <br>
                  {{post.date_create}}<br>
                  {% if post.header_image %}
                    <img src="{{post.header_image.url}}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
                    <br>
                    <hr>
                  {% endif %}
                  <br>
                  {{post.body|safe}}
                  <br>
                  

          </div>
          
          <a href="{% url 'home' %}" class="btn btn-primary btn-lg">back</a>
          <br></br>
          <hr>
          
          <form action="{% url 'like' post.pk %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}

              {% if liked %}
                <button type="submit", name="post_id", value="{{post.id}}", class="btn btn-danger btn-sm">UNLIKE</button> {{total_likes}}- likes
              {% else %}
                <button type="submit", name="post_id", value="{{post.id}}", class="btn btn-success btn-sm">LIKE</button> {{total_likes}}- likes
              {% endif %}

            {% else %}
            <button type="button" class="btn btn-link"><a href="{% url 'login' %}">Login to like</a></button> {{total_likes}}- likes
            {% endif %}
            
          </form>
          <br>
            
            
          <hr>
          <h2>Comments...</h2>
          {% if not post.comments.all %}
            no comments yet, make the first!<br>
            <a href="{% url 'add_comment' post.pk %}"> add comment</a>
          {% else %}
          <a href="{% url 'add_comment' post.pk %}"> add comment</a><br>
            {% for comment in post.comments.all %}
              <strong>{{comment.name}} - {{comment.date_added}}</strong><br>
              {{comment.body|safe}}
              
            {% endfor %}

          {% endif %} 
          <hr>
          <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-2">
              {% if post.author.userprofile.profile_pic %}
                <img src="{{post.author.userprofile.profile_pic.url}}" width=200, height=200 class="img-fluid rounded-start">

              {% else %}
              <img src="{% static 'posts/images/default_profile_image.jpg' %}" width=200, height=200 class="img-fluid rounded-start">
              {% endif %}
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">{{post.author}}</h5>
                  <p class="small text-muted">
                    {% if post.author.userprofile.instagram_url %}
                      <a href="{{post.author.userprofile.instagram_url}}">Instagram</a> | 
                    {% endif %}
                    {% if post.author.userprofile.twitter_url %}
                      <a href="{{post.author.userprofile.twitter_url}}">Twitter</a> | 
                    {% endif %}
                    {% if post.author.userprofile.facebook_url %}
                      <a href="{{post.author.userprofile.facebook_url}}">Facebook |</a>
                    {% endif %}
                      {% if post.author.userprofile.id %}
                        <a href="{% url 'profileview' post.author.userprofile.id %}"> Profile page</a>
                      {% endif %}
                  </p>
                  <p class="card-text">{{post.author.userprofile.bio}}</p>
                  <br>
        </div>           
          


      {% endblock %}

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        -->
    </body>
</html>